.find {
    text-align: center;
}

.invitees {
    margin-left: 10%;
    margin-right: 10%;
}

.member {
    margin: 5px;
    border: 1px solid grey;
    border-radius: 3pt;
    width: 120px;
    height: 50px;
    font-size: 1em;
    text-align: center;
    box-shadow: 2px 2px grey;
}

.closeButton {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-left: 85%;
}

.member p {
    margin-bottom: 0;
}

.members, .input {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.input {
    display: flex;
    align-items: center;
}

.otherThings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
}

.otherThings > p {
    font-size: 5em;
}

.find {
    margin-top: 5em;
}

.name div i {
    margin-bottom: 5%;
}

#textareabox {
    font-size: 1.5em;
    height: 1.7em;
    width: 10em;
    margin-right: 1em;
}